.modal-content{
    /*width: 600px !important;*/
}
.niveles{
    text-align: left;
}

.thead{
    background-color: #007bff;
}

.card{
    background-color: #ffffff !important;
}
.vertical-menu {background:none;}

.vertical-menu {  border: none!important; }
.vertical-menu-default .vetical-menu li a { color: rgb(255, 0, 0); }

.labelCodeQr, .imgQr, .inputCodeQr{
    display: none;
}

.modal-body{
    text-align: center;
}
/* #p1,#p2{
    border-width: 3px;
    border-style: solid;
    border-color: #263238;
} */
.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#passstrength,#passstrength2{
    color:red;
}
tbody {
    border: 1px solid;
    color: black;
  }


#tablaGrupos tbody tr:hover {
    background-color: rgb(163, 174, 219);
  }
  
 #tablaGrupos tbody tr:focus {
    background-color: rgb(99, 99, 234);
    outline: 0; 
  }

 
@media (max-width:420px){
    #p1.col-md-6{

    }
    
    #p1.col-md-3{
        max-height: 300px;
        overflow-y: auto;
        white-space: nowrap;
    }

    #p2.col-md-9{
        max-height: 700px;
        overflow-y: auto;
        white-space: nowrap;
    }
    
    #p2.col-md-3{
        overflow-y: auto;
        white-space: nowrap;
    }


}


/* Menú al dar click derecho*/
#menuTabla {
    display: none;
}
  

.btn{
    margin-bottom: 10px;
}

.espaciadoB{
    margin-bottom: 10px;
}
.espaciadoT{
    margin-top: 10px;
}

/* Tree */

.nivel {
    left: 10px;
}
#reactiva{
    margin-bottom: 20px;
}
.invisible{
    display: none;
}
#token{
    display: none;
}

#invalido{
    color: red;
    font-size: large;
}
.jstree-default .jstree-open>.jstree-ocl:before {
    font-family: "Font Awesome 6 Free"; font-weight: 900; content: "\f007";  
}

.jstree-default .jstree-closed>.jstree-ocl:before {
    font-family: "Font Awesome 6 Free"; font-weight: 900; content: "\f234"; 
}

.fa-building-lock:before{
    font-weight: 900;
}

.fa-circle-user:before{
    font-weight: 900;
}

.padre {
    background: white;
    height: 600px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.hijo {
    border: 1px solid;
    height: 600px;
    width: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    /*background: #E3F5F6;*/
    /*width: 500px;
    height:600px;*/
}

.padre2 {
    background: gray;
    height: 30px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.hijo2 {
    background: white;
    width: 700px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2ab934;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(68px);
    -ms-transform: translateX(68px);
    transform: translateX(68px);
}

.on {
    display: none;
}

.on,
.off {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+.slider .on {
    display: block;
}

input:checked+.slider .off {
    display: none;
}