table .selected{
    background-color: #2196F3 !important;
}
table{
    user-select: none !important;
}
.niveles{
    text-align: left;
}

.thead{
    background-color: #c6c8cc;
}
.num_aling{
    text-align: right;
}
.total{
    text-align: right;
    color:rgb(0, 0, 0);
}

.dataTables_info{
    font-size: 20px;
}

/* para cambiar el color cuando se haga búsqueda en jstree*/

/* .jstree-default .jstree-search  {
    font-style: italic !important;
    color: #56a72a !important;
    font-weight: bold !important;
} */

.jstree-default>.jstree-no-dots .jstree-node, .jstree-default>.jstree-no-dots .jstree-leaf>.jstree-ocl {
    background-image: url(32px.png) !important;
    background-position: -292px -4px;
    background-repeat: repeat-y;;
}

.jstree-default>.jstree-no-dots .jstree-closed>.jstree-ocl {
    margin-right: 5px;
}

ul[rele = group] {
    text-align: left;
 }

.premiar{
    text-align: center;
}
.dclick:hover{
    background-color: rgb(168, 203, 207);
    cursor: -webkit-grab; cursor: grab;
}
.swal2-popup{
    width: 85em !important;
}

.rclick:hover{
    cursor: alias;
    color: rgb(255, 0, 0);
}


.card{
    background-color: #ffffff !important;
}
.vertical-menu {background:none;}

.vertical-menu {  border: none!important; }
.vertical-menu-default .vetical-menu li a { color: rgb(255, 0, 0); }

.labelCodeQr, .imgQr, .inputCodeQr{
    display: none;
}

.tamano{
    font-size: 30px;
}

.mb2{
    text-align: left !important;
}
.modal-body{
    text-align: center;
}
/* #p1,#p2{
    border-width: 3px;
    border-style: solid;
    border-color: #263238;
} */
.progress {
    height: 20px;
    margin-left: 25%;
    width: 50%;
    border: 1px solid #9fd0fa;
    border-radius: 5px;
    background-color: #e6f3fa;
}


.progress-bar{
    height: 100%;
    background: #9fd0fa;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: #ff0000;
}
.jstree-node, .jstree-children, .jstree-container-ul {
    text-align: left;
}

.table-rep-plugin{
    width: 100%;
}

.pest{
    padding: 10px;
}
.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#passstrength,#passstrength2,#passstrengthN,#msgClave,#passstrengthN2,#msgClaveNueva{
    color:red;
}
/* css tabla */
tbody {
    border: 1px solid;
    color: black;
  }


#tablaGrupos tbody tr:hover {
    background-color: rgb(181, 195, 248);
  }
  
 #tablaGrupos tbody tr:focus {
    background-color: rgb(95, 114, 188);
    outline: 0; 
  }

 
@media (max-width:420px){
    #p1.col-md-6{

    }
    
    #p1.col-md-3{
        max-height: 300px;
        overflow-y: auto;
        white-space: nowrap;
    }

    #p2.col-md-9{
        max-height: 700px;
        overflow-y: auto;
        white-space: nowrap;
    }
    
    #p2.col-md-3{
        overflow-y: auto;
        white-space: nowrap;
    }


}

/* tabs de monedas */
.tab-list {
	padding-bottom: 0.6rem;
}

.tab {
	border: 1px solid transparent;
	display: inline-block;
	text-decoration: none;
	padding: .5rem 1rem;
	font-weight: 600;
  color: rgba(255, 255, 255, .6);
	background: rgba(10, 20, 30, .2);
}

.tab.active {
	color: #2000ff;
    background: rgb(44 192 220 / 20%);
	border: 1px solid rgba(255, 255, 255, .5);
}

.tab-content {
	background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	display: none;
	padding: 1.5rem;
	color: #4a5666;
}

.tab-content.show {
	display: block;
}
.grafo{
    margin-bottom: 20px;
}

#sidebar-menu{
    position: fixed;
}
/* Menú al dar click derecho*/
#menuTabla {
    display: none;
}
.page-content{
    min-height: 1200px;
}

div.dataTables_processing { z-index: 1; }

.btn{
    /* margin-bottom: 10px; */
}

.espaciadoB{
    margin-bottom: 10px;
}
.espaciadoT{
    margin-top: 10px !important;
}

/* Tree */

.nivel {
    left: 10px;
}
#reactiva{
    margin-bottom: 20px;
}
.invisible{
    display: none;
}
#token{
    display: none;
}

#invalido{
    color: red;
    font-size: large;
}
.jstree-default .jstree-open>.jstree-ocl:before {
    font-family: "Font Awesome 6 Free"; font-weight: 900; content: "\f007";  
}

.jstree-default .jstree-closed>.jstree-ocl:before {
    font-family: "Font Awesome 6 Free"; font-weight: 900; content: "\f234"; 
}

.fa-building-lock:before{
    font-weight: 900;
}

.fa-circle-user:before{
    font-weight: 900;
}



.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2ab934;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(68px);
    -ms-transform: translateX(68px);
    transform: translateX(68px);
}

.on_login {
    display: none;
}

.on_login,
.off_login {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+.slider .on_login {
    display: block;
}

input:checked+.slider .off_login {
    display: none;
}



#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00112c;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
  }
  
  .wavy {
    position: relative;
    -webkit-box-reflect: below -18px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  }
  
  .wavy span {
    display: inline-block;
    position: relative;
    color: #ffffff;
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: 0 0 3px #fff, 0 0 7px #fff, 0 0 11px #44c7f4, 0 0 15px #44c7f4,
      0 0 19px #44c7f4, 0 0 23px #44c7f4;
    animation: wavy 1s infinite;
    animation-delay: calc(0.1s * var(--index));
  }
  
  /* Let's create the bouncing animation */
  @keyframes wavy {
    0%,
    40%,
    100% {
      transform: translateY(0);
    }
  
    20% {
      transform: translateY(-18px);
    }
  }
  


  .modal-fullscreen .modal-dialog {
    position: fixed;
    margin: 20;
    margin-right: auto;
    margin-left: auto;
    width: 95% !important;
  }
  
  @media (min-width: 768px) {
    .modal-dialog .modal-fullscreen {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .modal-fullscreen .modal-dialog {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .modal-fullscreen .modal-dialog {
       width: 1170px;
    }
  }

  .modal .modal-dialog {
    display: block !important;
  }

  .ritem{
    cursor: pointer;
  }
  .carga{
    background-color: #fff;
    /* min-height: 43em;
    min-width: 60em;
    max-width: 69em; */
    position: absolute;
    z-index: 100;
  }
  .spinner {
    margin-top: 10% !important;
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
    z-index: 10000;
  }
  


  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  div.dt-button-collection .dt-button {
    min-width: 175px !important;
}